NAUTOBOT_DB_HOST=nautobot-db
NAUTOBOT_DB_NAME=nautobot
NAUTOBOT_DB_USER=nautobot
NAUTOBOT_DB_PASSWORD=changeme
NAUTOBOT_REDIS_HOST=nautobot-redis
NAUTOBOT_SECRET_KEY=changeme-generate-a-real-one
NAUTOBOT_SUPERUSER_NAME=admin
NAUTOBOT_SUPERUSER_EMAIL=hsmprv2006@gmail.com
NAUTOBOT_SUPERUSER_PASSWORD=changeme
NAUTOBOT_SUPERUSER_API_TOKEN=changeme-generate-40-hex-chars
